@media only screen and (min-width: 992px) {

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;

        .contacto__contenido {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin-top: 70px;
            margin-bottom: 80px;
        
            .contacto__form {
                width: 50%;

                p {
                    margin-bottom: 50px;
                }

                .formButton {
                    width: 300px;
                    border: solid 1px $colorBordes;
                    background-color: white;
                    color: rgb(109, 107, 107);
                    margin-bottom: 10px;
                }

                .formButton:hover {
                    background-color: $colorPrimario;
                    color: white;
                    transition: 0.3s;
                }
            }
        
            .contacto__imagen img {
                width: 500px;
            }
        }
    }
}