
footer {
    background-color: $colorPrimario;
    color: white;
    a {
        color: white;
        &:hover {
            color: $colorHover;
        }
    }

    .footer__submit {
        width: 100%;
        height: 35px;
        border: none;
        background-color: white;
        color: rgb(109, 107, 107) ;

        &:hover {
            background-color: $colorHover;
            color: white;
            transition: 0.3s;
        }
    }
}

@media only screen and (max-width: 768px) {

    footer {
        @include flex;
        height: 80vh;
        .footer__contenido {
            @include flex;
            justify-content: space-between;
            font-size: 19px;
            flex-direction: column;
            width: 55%;
            height: 60%;
            .footer__form {
                width: 100%;
            
                .footer__input {
                    width: 100%;
                    height: 35px;
                    margin-bottom: 20px;
                    border: none;
                }
            }
            .footer__redes {
                justify-content: space-evenly;
                font-size: 22px;
                width: 100%;
            }
        }
    }
}  

@media only screen and (min-width: 768px) {

    footer {
        @include flex;
        height: 60vh;
        .footer__contenido {
            @include flex;
            justify-content: space-between;
            font-size: 19px;
            flex-direction: row;
            width: 80%;
            height: 80%;
            .footer__form {
                width: 50%;
                .footer__input {
                    width: 100%;
                    height: 35px;
                    margin-bottom: 20px;
                    border: none;
                }
            }
            .footer__redes {
                justify-content: space-evenly;
                font-size: 22px;
                width: 30%;
            }
        }
    }  
}

@media only screen and (min-width: 992px) {

    footer {
        @include flex;
        height: 70vh;
        .footer__contenido {
            @include flex;
            justify-content: space-between;
            font-size: 19px;
            flex-direction: row;
            width: 80%;
            height: 80%;
            .footer__form {
                width: 40%;
                .footer__input {
                    width: 100%;
                    margin-bottom: 20px;
                    border: none;
                }
            }
            .footer__redes {
                justify-content: space-evenly;
                font-size: 22px;
                width: 30%;
            }
        }
    }
} 
