@media only screen and (max-width: 768px) {

    .seccion1 {
        display: flex;
        background-image: url(../multimedia/index13.png);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;

        .seccion1__titulo {
            margin-bottom: -120px;
            margin-left: 50px;
            color: $colorPrimario;
            width: 40%;

            .seccion1__titulo1 {
                font-size: 80px;
                
            }
        }
    }

    .seccion2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .seccion2__contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            order: 0;
        }

        .seccion2__imagen {
            order: 2;
 
            img {
                width: 100%;
                height: auto;
            }
        }

        .seccion2__texto {
            order: 1;
            width: 80%;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .seccion2b__texto {
            order: 3;
            width: 80%;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .seccion2b__imagen {
            display: none;
            
        }
    }  
    
    .seccion3 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .seccion3__contenido {
            background-image: url(../multimedia/seccion3b.png) ;
            background-size: cover;
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .seccion3__texto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $colorFondo;
                width: 80%;
                height: 25%;

                h2 {
                    font-size: 25px;
                }

                a {
                    font-size: 22px;
                }
            }
        }
    }

    .seccion4 {
        display: flex;
        justify-content: center;
        align-items: center;

        .seccion4__contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $colorPrimario;
            margin-top: 80px;
            margin-bottom: 50px;
            
            .seccion4__titulo {
                font-size: 25px;
            }

            .seccion4__redes{
                display: flex;
                flex: row wrap;
                width: 50%;
                justify-content: space-between;

                a {
                    color: $colorPrimario;
                    font-size: 35px;
                }
                a:hover {
                    color: $colorHover;
                }
            }
        }   
    }

    .seccion5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-color: $colorFondoseccion;
        

        h3 {
            font-size: 25px;
            color: $colorLetra;
            margin-bottom: 60px;
        }

        .seccion5__form {
            display: flex;
            flex-direction: column;

            .seccion5input {
                width: 300px;
                border: solid 1px $colorBordes;
                background-color: white;
                color: rgb(109, 107, 107);
                margin-bottom: 10px;
                height: 45px;
                margin-right: 10px;
            }

            .formButton:hover {
                background-color: $colorPrimario;
                color: white;
                transition: 0.3s;
            }
        }
    }

    .seccion6 {
        width: 100%;
        

        .seccion6__galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            img {
                margin-top: 30px;
            }
            
            .galeria3 {
                img {
                    display:none;
                }
            }
            .galeria4 {
                img {
                    display:none;
                }
            }
            .galeria7 {
                img {
                    display:none;
                }
            }
            .galeria8 {
                img {
                    display:none;
                }
            }
        }
    }
}

// FIN MEDIA QUERY small devices -------------------------------------------------------------------


@media only screen and (min-width: 768px) {

    .seccion1 {
        display: flex;
        background-image: url(../multimedia/index13.png);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;

        .seccion1__titulo {
            margin-bottom: -100px;
            margin-left: 100px;
            color: $colorPrimario;
            width: 40%;

            .seccion1__titulo1 {
                font-size: 90px;
                
            }
        }
    }

    .seccion2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .seccion2__contenido {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "seccion2__imagen seccion2__texto"
            "seccion2__imagen seccion2b__imagen"
            "seccion2b__texto seccion2b__imagen";
            column-gap: 2%;
            width: 90%;
            align-items: center;
            margin-bottom: 50px;

            .seccion2__imagen {
                grid-area: seccion2__imagen;
                
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    }
            }
            .seccion2__texto {
                grid-area: seccion2__texto;
               

                h2 {font-size: 40px;}
                p { width: 90% }
            }

            .seccion2b__texto {
                grid-area: seccion2b__texto;
                

                h2 {font-size: 40px;}
                p { width: 90% }
                
            }

            .seccion2b__imagen {
                
                grid-area: seccion2b__imagen;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }    

    
    .seccion3 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .seccion3__contenido {
            background-image: url(../multimedia/seccion3b.png) ;
            background-size: cover;
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .seccion3__texto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $colorFondo;
                width: 60%;
                height: 25%;

                h2 {
                    font-size: 25px;
                }

                a {
                    font-size: 22px;
                }
            }
        }
    }

    .seccion4 {
        display: flex;
        justify-content: center;
        align-items: center;

        .seccion4__contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $colorPrimario;
            margin-top: 80px;
            margin-bottom: 50px;
            
            .seccion4__titulo {
                font-size: 25px;
            }

            .seccion4__redes{
                display: flex;
                flex: row wrap;
                width: 30%;
                justify-content: space-between;

                a {
                    color: $colorPrimario;
                    font-size: 35px;
                }
                a:hover {
                    color: $colorHover;
                }
            }
        }   
    }

    .seccion5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-color: $colorFondoseccion;
        

        h3 {
            font-size: 25px;
            color: $colorLetra;
            margin-bottom: 60px;
        }

        .seccion5__form {
            display: flex;
            flex-direction: column;

            .seccion5input {
                width: 350px;
                border: solid 1px $colorBordes;
                background-color: white;
                color: rgb(109, 107, 107);
                margin-bottom: 10px;
                height: 45px;
                margin-right: 10px;
            }

            .formButton:hover {
                background-color: $colorPrimario;
                color: white;
                transition: 0.3s;
            }
        }
    }

    .seccion6 {
        width: 100%;
        display: flex;
        justify-content: center;
        


        .seccion6__galeria {
            display: grid;
            width: 100%;
            margin-bottom: 30px;
            
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            "foto1 foto1 foto2 foto3 foto3"
            "foto1 foto1 foto7 foto7 foto8"
            "foto4 foto5 foto7 foto7 foto8"
            "foto4 foto6 foto7 foto7 foto9";
            
            row-gap: 10px;
            column-gap: 10px;
            margin-top: 30px;
            
           
            
            .galeria1 {
                grid-area: foto1;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria2 {
                grid-area: foto2;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria3 {
                grid-area: foto3;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria4 {
                grid-area: foto4;
                img{
                   
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria5 {
                
                grid-area: foto5;

                img{
                   
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria6 {
                grid-area: foto6;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria7 {
                grid-area: foto7;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria8 {
                grid-area: foto8;
               
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria9 {
                grid-area: foto9;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }    
        
        /*
        .seccion6__galeria {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "galeria1 galeria2"
            "galeria5 galeria6"
            "galeria7 galeria9";
            align-items: center;
            justify-items: center;
            column-gap: 30px;
            width: 80%;
            margin-bottom: 30px;
            
            img { margin-top: 30px;}
            .galeria1 { grid-area: galeria1;}
            .galeria2 { grid-area: galeria2;}
            .galeria5 { grid-area: galeria5;}
            .galeria6 { grid-area: galeria6;}
            .galeria7 { grid-area: galeria7; img { width: 300px;height: auto;}}
            .galeria9 {grid-area: galeria9;}
            .galeria3 {img {display:none;}}
            .galeria4 {img {display:none;}}
            .galeria8 {img { display:none;}}
        }*/
    } 
}


@media only screen and (min-width: 992px) {  
      
    .seccion1 {
        display: flex;
        background-image: url(../multimedia/index13.png);
        height: 110vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;

        .seccion1__titulo {
            margin-bottom: -100px;
            margin-left: 120px;
            color: $colorPrimario;

            .seccion1__titulo1 {
                font-size: 90px;
                
            }
        }
    }

    .seccion2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        

        .seccion2__contenido {
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-rows: repeat(3, 60vh);
            grid-template-areas: 
            "seccion2__imagen seccion2__texto"
            "seccion2__imagen seccion2b__imagen"
            "seccion2b__texto seccion2b__imagen";
            column-gap: 2%;
            width: 80%;

            .seccion2__imagen {
                grid-area: seccion2__imagen;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .seccion2__texto {
                grid-area: seccion2__texto;
                margin: auto;
                margin-left: 60px;
                

                p {
                    width: 70%;
                }
            }

            .seccion2b__texto {
                grid-area: seccion2b__texto;
                margin: auto;
                margin-left: 60px;
                

                p {
                    width: 70%;
                }
            }

            .seccion2b__imagen {
                
                grid-area: seccion2b__imagen;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }    

    .seccion3 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
       

        .seccion3__contenido {
            background-image: url(../multimedia/seccion3b.png) ;
            background-size: cover;
            height: 100%;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            .seccion3__texto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $colorFondo;
                width: 40%;
                height: 25%;

                h2 {
                    font-size: 25px;
                   
                }

                a {
                    font-size: 22px;
                }
            }
        }
    }

    .seccion4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -50px;

        .seccion4__contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            color: $colorPrimario;
            
            
            .seccion4__titulo {
                font-size: 30px;
            }

            .seccion4__redes{
                display: flex;
                flex: row wrap;
                width: 50%;
                justify-content: space-between;

                a {
                    color: $colorPrimario;
                    font-size: 40px;
                }
                a:hover {
                    color: $colorHover;
                }
            }
        }   
    }


    .seccion5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: $colorFondoseccion;
        margin-top: 100px;

        h3 {
            font-size: 30px;
            color: $colorLetra;
            margin-bottom: 60px;
        }

        .seccion5input {
            
            width: 170px;
            border: solid 1px $colorBordes;
            background-color: white;
            color: rgb(109, 107, 107);
            margin-bottom: 10px;
            height: 40px;
            margin-right: 10px;
        }

        .formButton:hover {
            background-color: $colorPrimario;
            color: white;
            transition: 0.3s;
        }
    }


   
    .seccion6 {

        height: 130vh;
        margin-bottom: 30px;


        .seccion6__galeria {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(4, 15%);
            grid-template-areas: 
            "foto1 foto1 foto2 foto3 foto3"
            "foto1 foto1 foto7 foto7 foto8"
            "foto4 foto5 foto7 foto7 foto8"
            "foto4 foto6 foto7 foto7 foto9";
            height: 200vh;
            row-gap: 10px;
            column-gap: 10px;
            margin-top: 30px;
            


            .galeria1 {
                grid-area: foto1;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria2 {
                grid-area: foto2;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria3 {
                grid-area: foto3;
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria4 {
                grid-area: foto4;
                img{
                   
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria5 {
                grid-area: foto5;
                img{
                    display: inline;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria6 {
                grid-area: foto6;
                img{
                    display: inline;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria7 {
                grid-area: foto7;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria8 {
                grid-area: foto8;
               
                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
            }
            .galeria9 {
                grid-area: foto9;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }    
    }
}
