

@media only screen and (max-width: 768px) {

    .nav {
        @include size(100% , 58vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav__logoredes{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-top: 30px;
            .nav__redes {
                display: flex;
                justify-content: flex-end;

                i {
                    margin-left: 15px;
                    font-size: 20px;
                }
            }
            .nav__logo {
                @include flex;
                align-content: flex-start;
                font-size: 65px;
                letter-spacing: 5px;
                height: 100px;
            }
        }
        .nav__items {
            @include size (100%, 165px);
            @include flex;
            border-top: solid 1px $colorBordes;
           
            .nav__lista {
                @include size(100%, 100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                text-align: left;
                font-size: 22px;
                margin-top: 20px;
                
                li {
                    width: 100%;
                    height: 100%;
                    margin-left: -30px;
                    text-align: center;
                }
                li:hover {
                    background-color: $colorPrimario;
                    a {color:$colorFondo;}
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) {

    .nav {
        @include size (100%, fit-content);
        @include flex;
        flex-direction: column;
        .nav__logoredes{
            display: flex;
            flex-direction: column;
            width: 70%;
            margin-top: 30px;
            .nav__redes {
                display: flex;
                justify-content: flex-end;

                i {
                    margin-left: 15px;
                    font-size: 20px;
                }
            }
            .nav__logo {
                @include flex;
                align-content: flex-start;
                font-size: 65px;
                letter-spacing: 5px;
                height: 100px;
            }
        }

        .nav__items {
            @include size (100%, 60px);
            @include flex;
            border-top: solid 1px $colorBordes;
            .nav__lista {
                @include flex;
                margin-top: 10px;
                @include size (65%, 60px);
                flex-direction: row;
                justify-content: space-between;
                font-size: 22px;
            }
        }
    }
}



@media only screen and (min-width: 992px) {

    .nav {
        @include size (100%, fit-content);
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav__logoredes{
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: center;
            margin-top: 30px;
            .nav__redes {
                display: flex;
                justify-content: flex-end;
                margin-bottom: -5px;

                i {
                    margin-left: 15px;
                    font-size: 20px;
                }
            }

            .nav__logo {
                display: flex;
                justify-content: center;
                font-size: 65px;
                letter-spacing: 5px;
                height: 85px;
            }
        }

        .nav__items {
            @include size (100%, 50px);
            @include flex;
            border-top: solid 1px $colorBordes;
            .nav__lista {
                @include flex;
                margin-top: 10px;
                @include size (50%, 50px);
                flex-direction: row;
                justify-content: space-between;
                font-size: 22px;
               
                
            }
        }
    }
} 







