@media only screen and (min-width: 992px) {

    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        .nosotros__contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            margin-top: 70px;
            margin-bottom: 80px;

            h2 {
                font-size: 40px;
            }

            h3 {
                font-size: 40px;
                font-weight: bold;
            }
            
            .nosotros__p {
            
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                color: $colorPrimario;
            }

            .nosotros__menu {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 70px;
                
                .nosotros__menuTexto {
                    width: 35%;
                    text-align: right;
                }

                .nosotros__menuImagen img {
                    height: 300px;
                    border-radius: 500px;
                }
            }

            .nosotros__calidad {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 70px;

                .nosotros__calidadTexto {
                    width: 35%;
                }

                .nosotros__calidadImagen img {
                    height: 300px;
                    border-radius: 500px;
                }
            }

            .nosotros__ambiente {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 70px;

                .nosotros__ambienteTexto {
                    width: 35%;
                    text-align: right;
                }

                .nosotros__ambienteImagen img {
                    height: 300px;
                    border-radius: 500px;
                }
            }
        }
    }

}